header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 3);
    background-color: #24b4b4;
    gap: 15px;
    padding: 10px
}



header .user-menu {
    text-align: right;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;

}

header .user-menu a {
    text-decoration: none;
    color: #ecedee;
}


main{
    height: 300px;
}
main h1{
    color: #25B8D9;

}

main p{
    color: #1a1d20;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li a{
    color: #24b4b4;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #ecedee;
}

footer div{
    text-align: center;
}

footer div strong{
    margin-bottom: 20px;
    display: block;

}
